@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;500;600;800;900&display=swap');

body {
  scroll-behavior: smooth;

   //  padding-top: 3rem;
   //  padding-bottom: 3rem;
    margin: 0;
    color: #5a5a5a;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
  
a {
  text-decoration: none;
}

  .nav-item {
      text-transform: uppercase;
      font-size: .9rem;
  }
//   .nav-link::after {
//       margin-left: .6rem;
//       content: '|';
//   }


#logo {
    width: 200px;
}

  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  

.carousel-caption h2 {
    margin-bottom: 100px;
}


  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  
  @media (min-width: 40em) {
    .navbar-brand {
      visibility: visible;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {

    .featurette-heading {
      margin-top: 7rem;
    }
  }


@media (max-width: 575.98px) {
    .navbar-brand {
      display: none;
    }
}

//   .bd-placeholder-img {
//     font-size: 1.125rem;
//     text-anchor: middle;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     user-select: none;
//     z-index: -1;
//   }
  
  .img-gradient {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(198, 205, 191, 0.73)),
    url('./assets/images/bg.jpeg');
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
    
  }

  .img-gradient-1 {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(198, 205, 191, 0.73)),
    url('./assets/images/bg2.jpeg');
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
  }


  .img-gradient-2 {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(198, 205, 191, 0.73)),
    url('./assets/images/bg3.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
  }
  


  .img-about {
    background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(198, 205, 191, 0.73)),
    url('./assets/images/gallery2.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;
    
  }
  
footer {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #A8DADC;
}

footer h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    color: #707070;
}

#footer-logo {
    width: 150px; 
    height: 150px;
    border:0px solid gray;
    top: -50px;
    bottom: 0;
    position: relative;
}

.footer-logo {
    margin: 0;
    padding: 0;
    // display: flex;
    // flex-direction: column;
}

footer .container .footer-logo {
    background-color: #A8DADC;

}

.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}


.item {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100px;
  margin: auto;
}

// ABOUT PAGE  //

.page-header {
  text-align: center;
}

#about-photo {
  justify-content: center;
  margin: 0 atuo;
  display: block;
}

.description-wrap {
  display: flex;
  flex-direction: row;
}

.description-main {
  flex-basis: 80%;
}

.description-aside  {
  flex-basis: 50%;
  color:gray;
  font-family: 'Work Sans';
 //  font-weight: 600;
  margin-left: 2rem;
}
.description-aside a {
  color: gray;
  font-family: 'Work Sans';
  font-weight: 600;
  text-decoration: underline;
}


.artworks-wrap {
  display: flex;
  flex-direction: row;
}

.artworks-carousel {
  margin-left: 50px;
  width: 600px;
}

.artworks-carousel > div.item {
  // display: flex;
  // flex-direction: column;
  //height: 700px;
  width: 800px;
}



.venue-carousel-wrap {
  display: flex;
  flex-direction: row;
}

.carousel-wrap-aside {
  display: flex;
  flex-wrap: wrap;
}


// ABOUT PAGE  //
/* Layout */
@media (min-width: 1200px) {
  aside .bd-aside {
    display: flex;
    justify-content: flex-end !important;
    align-self: flex-end;
    gap: 1rem;
  }
  .bd-aside {
    padding-top: 2.5rem;
    scroll-margin-top: 2.5rem;
    z-index: 2;
  }

}
